/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

/* Navigation Bar */
.navbar {
    background-color: #007bff;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Header Section */
header {
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

/* Job Cards Section */
.job-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.job-card img {
    max-width: 100%;
    border-radius: 5px;
}

.job-card h3 {
    font-size: 1.2rem;
    margin-top: 15px;
}

.job-card p {
    margin: 5px 0;
}

/* How it Works Section */
.how-it-works-card {
    text-align: center;
    padding: 15px;
}

.how-it-works-card img {
    max-width: 100px;
    margin-bottom: 10px;
	height: 100px; 
    object-fit: cover;
}

.how-it-works-card h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* Hiring Process Section */
#hiring-process-form {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
}

#hiring-process-form .form-group {
    margin-bottom: 15px;
}

#hiring-process-form label {
    font-weight: bold;
}

#hiring-process-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Company Offers Section */
.company-offer {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
}

.company-offer img {
    max-width: 60px;
    margin-right: 10px;
    border-radius: 5px;
}

.company-offer-details {
    flex: 1;
}

.company-offer h4 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

/* More than 10,000 Top Companies Section */
.company-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.company-logo {
    margin: 10px;
	
}

.company-logo img {
    max-width: 150px;
}

/* Custom Button Style */
.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 767px) {
    header h1 {
        font-size: 2rem;
    }

    .how-it-works-card img {
        max-width: 80px;
    }

    .company-offer img {
        max-width: 40px;
    }

    .company-logo img {
        max-width: 120px;
    }
}
